* {
    margin: 0;
    padding: 0;
    /* border-radius: 5% */
}

.background {
    background: rgba(34, 33, 33, 0.7) url("https://img.huffingtonpost.com/asset/5ed1131b3000005f23156e60.jpeg?cache=2Ts07VoVl5&ops=crop_0_1473_2624_1968%2Cscalefit_720_noupscale");
    background-size: cover;
    background-blend-mode: darken;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 60%;
    /* background-color: white; */
    display: flex;
    align-items: center;
}

.logo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}

.nav-list li {
    list-style: none;
    padding: 26px 32px;
    font-size:20px;
}

.nav-list li a {
    cursor: pointer;
    font-family: poppins;
    font-weight: 100;
    color: white;
    border: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    text-decoration: none;
    display: block;
    display: inline-block;
}

.nav-list li a:hover {
    box-shadow: 0 5px 50px 0 rgb(240, 237, 79) inset,
                0 5px 50px 0 rgb(240, 237, 79),
                0 5px 50px 0 rgb(240, 237, 79) inset,
                0 5px 50px 0 rgb(240, 237, 79);
}

.rightnav {
    width: 40%;
    border-radius: 10px;
    /* background-color: white; */
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.button {
    text-decoration: none;
    
}

.btn {
    text-decoration: none;
    cursor: pointer;
    font-family: poppins;
    font-weight: 100;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
    padding: 8px 20px;
    margin: 7px 0;
    color: black;
    background: lightgray;
    text-decoration: none;
}

.btn:hover {
    box-shadow: 0 5px 50px 0 white inset, 0 5px 50px 0 white, 0 5px 50px 0 white inset, 0 5px 50px 0 white;
}

.firstsection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Permanent Marker', cursive;
    max-width: 50%;
    margin: auto;
    padding: 7%;
}

.firsthalf {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf {
    width: auto;
    padding: 4px 0;
    margin: auto;
}

.text-small {
    font-size: 18px;
}

.text-big {
    font-size: 39px;
}

.heading {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: cursive;
}

.text-large {
    font-size: 41px;
}